<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="caster_macro" params="parent prefix xyz r">

        <!-- joint -->
        <joint name="${prefix}_joint" type="fixed">
            <parent link="${parent}"/>
            <child  link="${prefix}_link"/>
            <origin xyz="${xyz}" rpy="0 0 0"/>
        </joint>

        <!-- link -->
        <link name="${prefix}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="${r}" />
                </geometry>
                <material name="gray" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="${r}" />
                </geometry>
                <material name="gray" />
            </collision>
        </link>

        <gazebo reference="${prefix}_link">
            <material>Gazebo/Gray</material>
            <mu1 value="0.0" />
            <mu2 value="0.0" />
        </gazebo>

    </xacro:macro>

</robot>
